@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  background-size: cover;
  background-position: center;
  position: relative;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: black !important;
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}
.navbar-links a:hover {
  border-radius: 25px;
  transition: all 0.2s;
}

.btn-custom {
  padding: 12px 20px;
  border-radius: 25px;
  border-top-left-radius: 0px;
  transition: 0.5s;
}

.btn-custom:hover {
  border-top-left-radius: 25px;
}

.content {
  margin-top: 30%;
  justify-content: space-between;
}

.chef-img {
  width: 21%;
  bottom: 0;
  right: 18%;
  position: absolute;
  animation: move 2.5s linear infinite;
}
.chefdark-img {
  width: 28%;
  bottom: 0;
  right: 13%;
  position: absolute;
  animation: move 2.5s linear infinite;
}

.healthy-img {
  animation: move 2.5s linear infinite;
}
@keyframes move {
  0% {
    transform: translate(-20px, 0px);
  }
  50% {
    transform: translate(0px, -20px);
  }
  100% {
    transform: translate(-20px, 0px);
  }
}

.blob1 {
  @apply w-80 h-80 bg-color-blob absolute top-0 -left-5 -z-10 blur-2xl opacity-30 overflow-hidden rounded-full;
}
.blob2 {
  @apply w-80 h-80 bg-color-secondary absolute bottom-10 right-0 -z-10 blur-2xl opacity-30 overflow-hidden rounded-full;
}

.link-custom {
  @apply p-3 flex rounded-md gap-5 text-base items-center md:cursor-pointer cursor-pointer duration-300 font-medium;
}

.active {
  @apply bg-blue-100 text-red-600 no-underline dark:bg-slate-700 dark:text-gray-400;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 201;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  z-index: 202;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  padding: 15px 16px;
  border-radius: 10px;
}

/* .badge {
  background-color: wheat;
  border-radius: 9999px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  top: 0px;
  text-transform: uppercase;
} */
